---
aids:
  - title: Data Analysis
    subtitle: Two methods for preliminary text analysis
    icon_path: /img/sheet.png
    link_path:
    filters:
      - '408'
      - data interpretation
      - coding
    type: download
  - title: Data Summary Worksheet
    subtitle:
    icon_path: /img/sheet.png
    link_path:
    filters:
      - '407'
      - '408'
      - data summary
    type: download
  - title: Excel for Research
    subtitle: Step-by-step instructions for basic excel functions
    icon_path: /img/sheet.png
    link_path:
    filters:
      - '407'
      - '408'
      - data summary
      - data interpretation
      - charts and tables
      - statistics
    type: download
  - title: MP Outline
    subtitle: What to include in each section of the MP
    icon_path: /img/sheet.png
    link_path:
    filters:
      - '406'
      - '407'
      - '408'
    type: download
  - title: Questions to Help with Data Summary
    subtitle:
    icon_path: /img/sheet.png
    link_path:
    filters:
      - '407'
      - '408'
      - data summary
    type: download
  - title: RSS Instructions
    subtitle: IRB RSS setup instructions
    icon_path: /img/sheet.png
    link_path:
    filters:
      - '406'
      - '407'
      - irb
    type: download
  - title: Summarizing Literature and Data
    subtitle:
    icon_path: /img/sheet.png
    link_path:
    filters:
      - '408'
      - data interpretation
    type: download
  - title: Summarizing Literature and Data
    subtitle:
    icon_path: /img/sheet.png
    link_path:
    filters:
      - '408'
      - data interpretation
    type: download
  - title: Tips on Conducting a Lit Review
    subtitle: A great resource from the University of Toronto that explains what a literature review is and tips on how to write a good one
    icon_path:
    link_path:
    filters:
      - '406'
      - literature review
    type: external link
  - title: Weaving Together
    subtitle: Aid for interpretation and conclusions
    icon_path: /img/sheet.png
    link_path:
    filters:
      - '408'
      - data interpretation
      - conclusion
    type: download
resources:
  - title: NU Library Education Guide
    subtitle: Browse the Northwestern Library resources related to Education
    icon_path:
    link_path:
    filters:
      - '406'
      - '407'
      - '408'
      - literature review
      - references
    type: external link
  - title: Research Data
    subtitle: List of sources of data for research projects
    icon_path:
    link_path: /pages/research-data.html
    filters:
      - '406'
      - '407'
      - data collection
      - surveys
    type: internal pages
  - title: SESP Librarian
    subtitle: 'School of Education Librarian: Qunying Li'
    icon_path: /img/people.png
    link_path: /pages/librarian.html
    filters:
      - '406'
      - '407'
      - research questions
      - literature review
    type: internal pages
rubrics:
  - title:
    subtitle:
    icon_path:
    link_path:
    filters:
    type: download
technology tools:
  - title:
    subtitle:
    icon_path:
    link_path:
    filters:
    type: download
---
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>MSHE Research Resources and Aids</title>
    <meta name="author" content="Derek Thurber">
    <meta name="description" content="A Page on Technology Tools and Resources for the Master of Science in Higher Education Administration and Policy program in the School of Education and Social Policy at Northwestern University">
    
    <link rel="stylesheet" type="text/css" href="./css/reset.css"></link>
    <link rel="stylesheet" type="text/css" href="./css/base.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script async="" defer="" src="//survey.g.doubleclick.net/async_survey?site=uenjeajg5mgbw"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69072426-3', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>
    <section class="hero" id="top">
    <div class="container wide">
        <div class="title">
            <h1>MP Aids and Resources</h1><br>
            
            <ul>
                <!--<li id="show-all" class="filter" data-filter="all">Show All</li>-->
                <!--<li id="type-button">Type <i id="type-chevron" class="fa fa-chevron-down"></i></li>-->
                <!--<li id="category-button">Category <i id="category-chevron" class="fa fa-chevron-down"></i></li>-->
                <!--<li id="search-button">Search <i id="search-chevron" class="fa fa-chevron-down"></i></li>-->
            </ul>
            <p>Jump to: <a href="#aids" class="smoothScroll">Aids and Resources</a> | <a href="#resources" class="smoothScroll">External Resources</a> | <a href="#rubrics" class="smoothScroll">Rubrics</a> | <a href="#technology" class="smoothScroll">Technology Tools</a> | <a href="#templates" class="smoothScroll">Templates</a></p>
            <input id="input" type="text" placeholder="Start typing to search">
        </div>
    </div>
    </section>
    <section class="filter-section">
        <div class="container wide">
            <div id="category" class="categories">
                <div class="filter" data-filter="all">Show All</div>
                <div class="filter class-filter" data-filter=".406">406</div>
                <div class="filter class-filter" data-filter=".407">407</div>
                <div class="filter class-filter" data-filter=".408">408</div>
                <div class="filter mp-filter" data-filter=".researchquestions">Research Questions</div>
                <div class="filter mp-filter" data-filter=".abstract">Abstract</div>
                <div class="filter mp-filter" data-filter=".introduction">Introduction/Background</div>
                <div class="filter mp-filter" data-filter=".literaturereview">Literature Review</div>
                <div class="filter mp-filter" data-filter=".datacollection">Data Collection</div>
                <div class="filter mp-filter" data-filter=".datasummary">Data Summary</div>
                <div class="filter mp-filter" data-filter=".datainterpretation">Data Interpretation</div>
                <div class="filter mp-filter" data-filter=".conclusion">Conclusion</div>
                <div class="filter mp-filter" data-filter=".executivesummary">Executive Summary</div>
                <div class="filter mp-filter" data-filter=".irb">IRB</div>
                <div class="filter mp-filter" data-filter=".posters">Posters</div>
                <div class="filter mp-filter" data-filter=".presentations">Presentations</div>
                <div class="filter type-filter" data-filter=".chartsandtables">Charts and Tables</div>
                <div class="filter type-filter" data-filter=".coding">Coding</div>
                <div class="filter type-filter" data-filter=".focusgroups">Focus Groups</div>
                <div class="filter type-filter" data-filter=".interviews">Interviews</div>
                <div class="filter type-filter" data-filter=".observations">Observations</div>
                <div class="filter type-filter" data-filter=".references">References</div>
                <div class="filter type-filter" data-filter=".statistics">Statistics</div>
                <div class="filter type-filter" data-filter=".surveys">Surveys</div>
            </div>
            
            <div id="search" class="hidden">
                <input id="input" type="text" placeholder="Start typing to search">
            </div>
        </div>
    </section>
    <section class="main">
    <div class="container">
        <div class="flex-container group">
            <h3 class="flex-header" id="aids">Aids and Resources</h3>
            {% for item in page.aids %}
            <div class="mix {{ item.filters | join: ',' | remove: ' ' | split: ',' | join: ' ' }}" data-name="{{ item.title }}">
                {% if item.icon_path != null %}<img src=".{{ item.icon_path }}" alt="resource type icon">{% endif %}
                <h2>{{ item.title }}</h2>
                <p>{{ item.subtitle }}</p>
                {% if item.type == 'external link' %}<a href="{{ item.link_path }}" target="_blank">{% else %}<a href="{{ item.link_path }}">{% endif %}
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> {{ item.filters | join:', ' }}</p>
                        {% if item.type == 'external link' %}<i class="fa fa-external-link fa-3x action"></i>{% endif %}
                        {% if item.type == 'download' %}<i class="fa fa-download fa-3x action"></i>{% endif %}
                    </div>
                </a>
                <div class="meta hidden">
                    <p>{{ item.filters }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="flex-container group">
            <h3 class="flex-header" id="resources">External Resources</h3>
            {% for item in page.resources %}
            <div class="mix {{ item.filters | join: ',' | remove: ' ' | split: ',' | join: ' ' }}" data-name="{{ item.title }}">
                {% if item.icon_path != null %}<img src=".{{ item.icon_path }}" alt="resource type icon">{% endif %}
                <h2>{{ item.title }}</h2>
                <p>{{ item.subtitle }}</p>
                {% if item.type == 'external link' %}<a href="{{ item.link_path }}" target="_blank">{% else %}<a href="{{ item.link_path }}">{% endif %}
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> {{ item.filters | join:', ' }}</p>
                        {% if item.type == 'external link' %}<i class="fa fa-external-link fa-3x action"></i>{% endif %}
                        {% if item.type == 'download' %}<i class="fa fa-download fa-3x action"></i>{% endif %}
                    </div>
                </a>
                <div class="meta hidden">
                    <p>{{ item.filters }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="flex-container group">
            <h3 class="flex-header" id="rubrics">Rubrics</h3>
            {% for item in page.rubrics %}
            <div class="mix {{ item.filters | join: ',' | remove: ' ' | split: ',' | join: ' ' }}" data-name="{{ item.title }}">
                {% if item.icon_path != null %}<img src=".{{ item.icon_path }}" alt="resource type icon">{% endif %}
                <h2>{{ item.title }}</h2>
                <p>{{ item.subtitle }}</p>
                {% if item.type == 'external link' %}<a href="{{ item.link_path }}" target="_blank">{% else %}<a href="{{ item.link_path }}">{% endif %}
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> {{ item.filters | join:', ' }}</p>
                        {% if item.type == 'external link' %}<i class="fa fa-external-link fa-3x action"></i>{% endif %}
                        {% if item.type == 'download' %}<i class="fa fa-download fa-3x action"></i>{% endif %}
                    </div>
                </a>
                <div class="meta hidden">
                    <p>{{ item.filters }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="flex-container group">
            <h3 class="flex-header" id="technology">Technology Tools</h3>
            <div class="mix surveys data-collection technology 407 408" data-name="Survey Monkey">
                <img src="./img/survey-monkey.png" alt="survey monkey logo">
                <h2>Survey Monkey</h2>
                <p>Free access through SESP account.</p>
                <a href="./pages/survey-monkey.html">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> Data Collection, Surveys</p>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>surveys</p>
                    <p>monkey</p>
                    <p>data collection</p>
                    <p>collection</p>
                    <p>407</p>
                    <p>technology tools</p>
                    <p>survey monkey</p>
                </div>
            </div>
            <div class="mix technology data-summary coding data-analysis stats spss charts-tables 407 408" data-name="spss">
                <img src="./img/spss-logo.jpg" alt="spss icon">
                <h2>SPSS</h2>
                <p>Free acess provided through virtual desktop.</p>
                <a href="http://edtech.sesp.northwestern.edu/project/thin-client-virtual-machine/" target="_blank">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> Data Interpretation, Statistics, SPSS, Coding, Charts and Tables</p>
                        <i class="fa fa-external-link fa-3x action"></i>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>technology</p>
                    <p>spss</p>
                    <p>data analysis</p>
                    <p>data summary</p>
                    <p>data interpretation</p>
                    <p>statistics</p>
                    <p>tables</p>
                    <p>charts</p>
                    <p>graphs</p>
                    <p>407</p>
                    <p>408</p>
                    <p>assessment</p>
                    <p>virtual desktop</p>
                </div>
            </div>
            <div class="mix technology data-analysis coding nvivo 407 408" data-name="nvivo">
                <img src="./img/NVivo-logo.png" alt="nvivo icon">
                <h2>Nvivo</h2>
                <p>Free acess provided through virtual desktop.</p>
                <a href="http://edtech.sesp.northwestern.edu/project/thin-client-virtual-machine/" target="_blank">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> Data Interpretation, Nvivo, Coding</p>
                        <i class="fa fa-external-link fa-3x action"></i>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>technology</p>
                    <p>NVivo</p>
                    <p>data analysis</p>
                    <p>data summary</p>
                    <p>data interpretation</p>
                    <p>coding</p>
                    <p>407</p>
                    <p>408</p>
                    <p>assessment</p>
                    <p>virtual desktop</p>
                </div>
            </div>
            <div class="mix technology spss stats presentations graphics posters" data-name="Lynda.com">
                <img src="./img/lynda.com-logo.png" alt="lynda.com logo">
                <h2>Lynda.com</h2>
                <p>Online learning videos for technology and graphics.</p>
                <a href="./pages/lynda.html">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> SPSS, Statistics, Infographics, Posters, Presentations</p>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>technology</p>
                    <p>spss</p>
                    <p>statistics</p>
                    <p>infographics</p>
                    <p>data analysis</p>
                    <p>data summary</p>
                    <p>data interpretation</p>
                    <p>407</p>
                    <p>406</p>
                    <p>408</p>
                    <p>lynda.com</p>
                </div>
            </div>
            <div class="mix technology references lit-review 406 407 408" data-name="Endnote">
                <img src="./img/en-logo.png" alt="endnote logo">
                <h2>EndNote</h2>
                <p>Manage references and generate citations.</p>
                <a href="http://www.it.northwestern.edu/software/endnote-fac/" target="_blank">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> APA</p>
                        <i class="fa fa-external-link fa-3x action"></i>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>endnote</p>
                    <p>technology</p>
                    <p>library</p>
                    <p>references</p>
                    <p>apa</p>
                    <p>organizing</p>
                    <p>organization</p>
                    <p>citations</p>
                    <p>cite</p>
                    <p>manage</p>
                    <p>literature review</p>
                </div>
            </div>
            <div class="mix technology references lit-review 406 407 408" data-name="Zotero">
                <img src="./img/zotero.png" alt="zotero logo">
                <h2>Zotero</h2>
                <p>Manage references and generate citations.</p>
                <a href="http://libguides.northwestern.edu/zotero" target="_blank">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> APA</p>
                        <i class="fa fa-external-link fa-3x action"></i>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>technology</p>
                    <p>library</p>
                    <p>references</p>
                    <p>apa</p>
                    <p>zotero</p>
                    <p>organizing</p>
                    <p>organization</p>
                    <p>citations</p>
                    <p>cite</p>
                    <p>manage</p>
                    <p>literature review</p>
                </div>
            </div>
            <div class="mix technology charts-tables graphics presentations 407 408" data-name="Picktochart">
                <img src="./img/pickto-logo.png" alt="picktochart logo">
                <h2>Picktochart</h2>
                <p>All you will need to make information beautiful.</p>
                <a href="http://piktochart.com/" target="_blank">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> Infographics, Presentations</p>
                        <i class="fa fa-external-link fa-3x action"></i>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>infographics</p>
                    <p>technology</p>
                    <p>presentations</p>
                    <p>picktochart</p>
                    <p>charts</p>
                    <p>tables</p>
                    <p>graphs</p>
                    <p>graphic</p>
                    <p>408</p>
                    <p>407</p>
                </div>
            </div>
            <div class="mix technology posters 407 408" data-name="Canva">
                <img src="./img/Canva_Logo.png" alt="canva logo">
                <h2>Canva</h2>
                <p>Drag-and-drop poster maker.</p>
                <a href="https://www.canva.com/create/posters/" target="_blank">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> Posters</p>
                        <i class="fa fa-external-link fa-3x action"></i>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>posters</p>
                    <p>technology</p>
                    <p>design</p>
                    <p>graphic</p>
                    <p>407</p>
                    <p>canva.com</p>
                </div>
            </div>
            <div class="mix technology interviews data-summary 407 408" data-name="OTranscribe">
                <img src="./img/otranscribe-icon.png" alt="otranscribe logo">
                <h2>OTranscribe</h2>
                <p>Free web app to take the pain out of transcribing.</p>
                <a href="http://otranscribe.com/" target="_blank">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> Interviews, Data Summary</p>
                        <i class="fa fa-external-link fa-3x action"></i>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>interviews</p>
                    <p>technology</p>
                    <p>transcribe</p>
                    <p>otranscribe</p>
                    <p>transcribing</p>
                    <p>transcription</p>
                    <p>407</p>
                    <p>408</p>
                    <p>data summary</p>
                </div>
            </div>
            <div class="mix technology interviews data-summary 407 408" data-name="Wreally Transcribe">
                <img src="./img/wreally_logo.png" alt="wreally logo">
                <h2>Wreally Transcribe</h2>
                <p>Free web app to take the pain out of transcribing.</p>
                <a href="https://transcribe.wreally.com/" target="_blank">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> Interviews, Data Summary</p>
                        <i class="fa fa-external-link fa-3x action"></i>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>interviews</p>
                    <p>technology</p>
                    <p>transcribe</p>
                    <p>transcribing</p>
                    <p>transcription</p>
                    <p>wreally</p>
                    <p>407</p>
                    <p>408</p>
                    <p>data summary</p>
                </div>
            </div>
            <div class="mix technology interviews data-collection 407" data-name="TapeACall">
                <img src="./img/icon_tapeacall.png" alt="tapeacall logo">
                <h2>TapeACall</h2>
                <p>Record iPhone and Android calls.</p>
                <a href="https://www.tapeacall.com/" target="_blank">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> Interviews, Data Collection</p>
                        <i class="fa fa-external-link fa-3x action"></i>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>interviews</p>
                    <p>technology</p>
                    <p>recording</p>
                    <p>audio</p>
                    <p>phone call</p>
                    <p>tapeacall</p>
                    <p>data collection</p>
                    <p>407</p>
                    <p>408</p>
                </div>
            </div>
        </div>
        
        <div class="flex-container group">
            <h3 class="flex-header" id="templates">Templates</h3>
            <div class="mix templates conclusions data-summary abstracts data-collection lit-review data-analysis 406 407 408" data-name="MP APA Template">
                <img src="./img/sheet.png" alt="document icon">
                <h2>MP APA Template</h2>
                <p>Word document template for the Master's Project.</p>
                <a href="https://northwestern.box.com/shared/static/lgqwax92o5crl4xnenkn.docx">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> APA</p>
                        <i class="fa fa-download fa-3x action"></i>
                    </div>
                </a>
                <div class="meta hidden">
                    <p>templates</p>
                    <p>apa</p>
                    <p>master's project</p>
                    <p>mp apa template</p>
                </div>
            </div>
            <div class="mix templates irb 406 407" data-name="IRB Template">
                <!--<img src="./img/sheet.png" alt="document icon">-->
                <h2>IRB Templates</h2>
                <p>Templates for various forms required by IRB, including Human Research Determination Form, Social Behavioral Protocol Template, and Social and Behavioral Consent Template.</p>
                <a href="./pages/irb-templates.html">
                    <div class="mix-hover hidden">
                        <p><i class="fa fa-tags"></i> IRB, Templates</p>
                        <!--<i class="fa fa-download fa-3x action"></i>-->
                    </div>
                </a>
                <div class="meta hidden">
                    <p>templates</p>
                    <p>Human Research Determination Form</p>
                    <p>Social Behavioral Protocol Template</p>
                    <p>Social and Behavioral Consent Template</p>
                    <p>irb</p>
                    <p>consent</p>
                    <p>407</p>
                    <p>ethics</p>
                </div>
            </div>
        </div>
            
    </div>
    <div class="scrolltop">
        <p><a href="#top" class="smoothScroll"><i class="fa fa-arrow-up fa-lg"></i></a></p>
    </div>
	</section>
	<footer>
	    <div class="container">
	        <p>Designed by <strong>Derek Thurber</strong></p>
	    </div>
	</footer>
	<script src="https://cdn.jsdelivr.net/jquery.mixitup/2.1.11/jquery.mixitup.min.js"></script>
	<script src="./js/main.js"></script>
	<script src="./js/smoothscroll.js"></script>

</body>
</html>