<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        MSHE Research Tools and Resources
      {% endif %}
    </title>
    <meta name="author" content="Derek Thurber">
    <meta name="description" content="A Page on Technology Tools and Resources for the Master of Science in Higher Education Administration and Policy program in the School of Education and Social Policy at Northwestern University">
    
    <link rel="stylesheet" type="text/css" href="../css/reset.css"></link>
    <link rel="stylesheet" type="text/css" href="../css/base.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>
<body>
    <header>
        <div class="container">
        <a href="../index.html"><i class="fa fa-lg fa-times"></i></a>
        </div>
    </header>
    <div class="container">
        <h1>{{ page.title }}</h1>
        <h3 class="subtitle">{{ page.subtitle }}</h3>
        <hr>
        {{ content }}
    </div>
    
</body>